
.header {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5575ba;
  color: white;
  text-align: center;
}


a {
  color: black;
  text-decoration: none;
}

.App {
  text-align: center;
}